:root {
	text-align: center;
  font-family: fragma;
}

@font-face {
  font-family: "fragma";
  src: url("fonts/fragma-medium.ttf") format("truetype");
}

html {
  width: 100vw;
}

body {
	padding: calc((1vh + 1vw));
	font-size: 18px;
  color: white;
  position: absolute;
  height: 100vh;
  background-color: rgb(13, 13, 33);
  background-image:
		linear-gradient(rgba(256, 256, 256, 0.08) 3px, transparent 0%),
    linear-gradient(90deg, rgba(256, 256, 256, 0.08) 3px, transparent 0%),
    linear-gradient(rgba(256, 256, 256, 0.05) 1px, transparent 1%),
    linear-gradient(90deg, rgba(256, 256, 256, 0.05) 1px, transparent 1%);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
	overflow: hidden;
}

/* Scrollbar Styles */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 1px 1px 2px 1px;
  background: #888; 
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 1px 1px 2px 1px;
  background-image: linear-gradient(180deg, rgba(200, 200, 200, 1) 66%, rgba(256, 256, 256, 1) 100%); 
	border: 1px outset white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

ul {
	background-color: black;
	padding: 15px;
}

li {
	list-style-type: none;
	margin-bottom: 10px;
}

article {
	margin-bottom: 0px;
}

a {
	text-decoration: none;
	color: yellow;
}
main {
	padding: 1px;
}

header {
	background-color: #888;
}

.portrait {
	background-position: top;
	background-size: cover;
}

/* eveui_css_start */
.eveui_window {
	text-align: left ;
  position: fixed;
  line-height: 1;
  opacity: 0.99;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  max-height: 700px;
  max-width: 350px;
  color: rgba(200, 200, 200, 0.9);
  font-size: 16px;
  border-radius: 2px;
  border-image: url("borders/window_border.png") 8 repeat;
  outline-width: 2px;
	outline-offset: -1px;
	outline-color: rgb(192, 192, 192);
	outline-style: outset;
box-shadow: 12px 12px 18px 6px rgba(0, 0, 0, 1);
}

.eveui_modal_overlay {
  cursor: pointer;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  opacity: 0.2;
}

.eveui_title {
	font-weight: 700;
  padding: 2px;
  color: rgba(13, 13, 13, 1);
  font-size: 22px;
  background-image: linear-gradient(0deg, rgba(200, 200, 200, 1) 66%, rgba(113, 113, 113, 1) 100%);
  height: 22px;
  width: inherit;
	max-width: 350px;
  cursor: move;
  white-space: nowrap;
  border-radius: 2px 2px 1px 1px;
  user-select: none;
	border: 0px outset rgba(200, 200, 200, 1);
}

.eveui_scrollable {
  text-align: left;
  overflow-x: auto;
}

.eveui_content {
	width: auto;
  display: inline-block;
  scrollbar-width: thin;
  scrollbar-color: rgb(30, 30, 30) rgb(15, 15, 15);
  height: auto;
  background-color: rgba(25, 25, 25, 0.9);
}

.eveui_content table {
  border-collapse: collapse;
  top: middle;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid rgba(70, 70, 70, 0.8);
  border-top: 1px solid rgba(10, 10, 10, 0.8);
}

.eveui_content td {
  vertical-align: top;
  padding: 0 2px;
}

.eveui_content .eveui_edit {
  display: none;
}

.eveui_content.eveui_edit .eveui_edit {
  display: inline-block;
}

.eveui_edit .eveui_edit_icon {
  display: none;
}

.eveui_itemselect {
  width: 100%;
  position: absolute;
}

.eveui_itemselect input {
  width: 100%;
  min-width: 20em;
  padding: 0;
}

.eveui_rowcontent {
  position: relative;
}

.eveui_flexgrow {
  flex-grow: 1;
}

.eveui_fit_header {
  align-items: center;
}

.eveui_fit_stats {
	text-align: left;
  background: #eee;
	color:black;
  white-space: nowrap;
  position: absolute;
  margin-left: 19px;
  border: 1px solid silver;
  padding: 2px;
  line-height: 1;
}

.eveui_line_spacer {
  line-height: 0.5em;
}

.eveui_right {
  text-align: right;
}

.eveui_icon {
  display: inline-block;
  margin: 1px;
  vertical-align: middle;
  height: 1em;
  width: 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.eveui_item_icon {
  height: 32px;
  width: 32px;
}

.eveui_ship_icon {
  height: 64px;
  width: 64px;
}

.eveui_close_icon {
  color: #eee;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0uOTMgMi4zNDNMMi4zNDIuOTI5IDE1LjA3IDEzLjY1NmwtMS40MTQgMS40MTR6Ii8+PHBhdGggZD0iTTIuMzQzIDE1LjA3TC45MjkgMTMuNjU4IDEzLjY1Ni45M2wxLjQxNCAxLjQxNHoiLz48L3N2Zz4=);
}

.eveui_info_icon {
  color: #eee;
  cursor: pointer;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEwMjQiIHdpZHRoPSI4OTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTQ0OCAzODRjMzUgMCA2NC0yOSA2NC02NHMtMjktNjQtNjQtNjQtNjQgMjktNjQgNjQgMjkgNjQgNjQgNjR6bTAtMzIwQzIwMSA2NCAwIDI2NSAwIDUxMnMyMDEgNDQ4IDQ0OCA0NDggNDQ4LTIwMSA0NDgtNDQ4UzY5NSA2NCA0NDggNjR6bTAgNzY4Yy0xNzcgMC0zMjAtMTQzLTMyMC0zMjBzMTQzLTMyMCAzMjAtMzIwIDMyMCAxNDMgMzIwIDMyMC0xNDMgMzIwLTMyMCAzMjB6bTY0LTMyMGMwLTMyLTMyLTY0LTY0LTY0aC02NGMtMzIgMC02NCAzMi02NCA2NGg2NHYxOTJjMCAzMiAzMiA2NCA2NCA2NGg2NGMzMiAwIDY0LTMyIDY0LTY0aC02NFY1MTJ6Ii8+PC9zdmc+);
}

.eveui_plus_icon {
  color: #eee;
  cursor: pointer;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEwMjQiIHdpZHRoPSI2NDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZD0iTTM4NCA0NDhWMTkySDI1NnYyNTZIMHYxMjhoMjU2djI1NmgxMjhWNTc2aDI1NlY0NDhIMzg0eiIgLz4KPC9zdmc+Cg==);
}

.eveui_minus_icon {
  color: #eee;
  cursor: pointer;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEwMjQiIHdpZHRoPSI1MTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZD0iTTAgNDQ4djEyOGg1MTJWNDQ4SDB6IiAvPgo8L3N2Zz4K);
}

.eveui_more_icon {
  color: #eee;
  cursor: pointer;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEwMjQiIHdpZHRoPSI3NjgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZD0iTTAgNTc2aDEyOHYtMTI4aC0xMjh2MTI4eiBtMC0yNTZoMTI4di0xMjhoLTEyOHYxMjh6IG0wIDUxMmgxMjh2LTEyOGgtMTI4djEyOHogbTI1Ni0yNTZoNTEydi0xMjhoLTUxMnYxMjh6IG0wLTI1Nmg1MTJ2LTEyOGgtNTEydjEyOHogbTAgNTEyaDUxMnYtMTI4aC01MTJ2MTI4eiIgLz4KPC9zdmc+Cg==);
}

.eveui_edit_icon {
  color: #eee;
  cursor: pointer;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEwMjQiIHdpZHRoPSI4OTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZD0iTTcwNCA2NEw1NzYgMTkybDE5MiAxOTIgMTI4LTEyOEw3MDQgNjR6TTAgNzY4bDAuNjg4IDE5Mi41NjJMMTkyIDk2MGw1MTItNTEyTDUxMiAyNTYgMCA3Njh6TTE5MiA4OTZINjRWNzY4aDY0djY0aDY0Vjg5NnoiIC8+Cjwvc3ZnPgo=);
}

.eveui_copy_icon {
  color: #eee;
  cursor: pointer;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEwMjQiIHdpZHRoPSI4OTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZD0iTTcwNCA4OTZoLTY0MHYtNTc2aDY0MHYxOTJoNjR2LTMyMGMwLTM1LTI5LTY0LTY0LTY0aC0xOTJjMC03MS01Ny0xMjgtMTI4LTEyOHMtMTI4IDU3LTEyOCAxMjhoLTE5MmMtMzUgMC02NCAyOS02NCA2NHY3MDRjMCAzNSAyOSA2NCA2NCA2NGg2NDBjMzUgMCA2NC0yOSA2NC02NHYtMTI4aC02NHYxMjh6IG0tNTEyLTcwNGMyOSAwIDI5IDAgNjQgMHM2NC0yOSA2NC02NCAyOS02NCA2NC02NCA2NCAyOSA2NCA2NCAzMiA2NCA2NCA2NCAzMyAwIDY0IDAgNjQgMjkgNjQgNjRoLTUxMmMwLTM5IDI4LTY0IDY0LTY0eiBtLTY0IDUxMmgxMjh2LTY0aC0xMjh2NjR6IG00NDgtMTI4di0xMjhsLTI1NiAxOTIgMjU2IDE5MnYtMTI4aDMyMHYtMTI4aC0zMjB6IG0tNDQ4IDI1NmgxOTJ2LTY0aC0xOTJ2NjR6IG0zMjAtNDQ4aC0zMjB2NjRoMzIwdi02NHogbS0xOTIgMTI4aC0xMjh2NjRoMTI4di02NHoiIC8+Cjwvc3ZnPgo=);
}

.copy_only {
  position: absolute;
  display: inline-block;
  line-height: 0;
  font-size: 0;
}

.nocopy::after {
  content: attr(data-content);
}

.whitespace_nowrap {
  white-space: nowrap;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.eveui_indent {
  margin-left: 0.5em;
  display: inline-block;
}
/* eveui_css_end */

.menu_searchbar {
  padding: 4px;
  margin: 0px;
  border: 0px;
  box-shadow: 1px 1px rgb(70, 70, 70);
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(220, 220, 220, 0.9);
  font-family: evesans;
}

.highlighted {
  /* background-color: rgba(100, 100, 100, 0.2); */ /* bring this back when you fix selection in SearchBar.js */
  border-color: cyan;
}